<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Todos</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
    <div class="todoapp" ng-controller="todoCntroller">
        <header class="header" >
            <h1>todos</h1>
            <form class="todo-form" ng-submit="Todo.add()">
                <input class="add-todo" placeholder="请输入内容" ng-model="Todo.content" required="required" autocomplete="off">
                <button type="submit" class="add-btn">+</button>
            </form>
        </header>
        <main class="main">
            <input class="toggle-all" type="checkbox" ng-disabled="Todo.disabled" ng-click="Todo.changeAll()" ng-checked="Todo.toggleAll">
            <ul class="todo-list" ng-if="!!Todo.list.length">
                <li ng-repeat="data in Todo.list track by $index" ng-class="{'completed':data.done,'editing':data.edit}" ng-dblclick="Todo.edit(data.id)">
                    <div class="view">
                        <input class="toggle" ng-click="Todo.change($index)" type="checkbox" ng-checked="data.done" />
                        <label ng-bind="data.title"></label>
                        <button class="destroy" ng-click="Todo.remove($index)"></button>
                    </div>
                    <input class="edit" ng-model="data.title" ng-blur="Todo.blur($index)">
                </li>
            </ul>
        </main>
        <footer class="footer">
            <span class="todo-count">
                <strong ng-bind="Todo.count"></strong>
                <span>剩下的项目</span>
            </span>
            <button class="clear-completed" ng-click="Todo.clear()">
                <span>清除</span>
                <strong ng-bind="Todo.completed"></strong>
                <span>完成项目</span>
            </button>
        </footer>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/todos.js"></script>
</body>
</html>
